In [1]:
import pandas as pd

In [2]:
df_silver = pd.read_csv(f"2_bronze/bronze_cripto_180d.csv")

In [3]:
df_silver

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,create_date,moeda
0,BTC,BRL,Bitcoin/Real Brasileiro,599000.0,591450.0,6263.0,1.057,598840.0,598841.0,1749402194,2025-06-08 14:03:14,BTC
1,NaN,NaN,NaN,595999.0,584270.0,7445.0,1.269,594061.0,594062.0,1749340785,NaN,BTC
2,NaN,NaN,NaN,593914.0,568693.0,15804.0,2.769,586639.0,586640.0,1749254379,NaN,BTC
3,NaN,NaN,NaN,596717.0,563594.0,-22105.0,-3.728,570835.0,570836.0,1749167992,NaN,BTC
4,NaN,NaN,NaN,600910.0,589040.0,-4640.0,-0.777,592871.0,592872.0,1749081575,NaN,BTC
...,...,...,...,...,...,...,...,...,...,...,...,...
999,NaN,NaN,NaN,880.3,738.6,72.1,8.949,877.3,877.6,1740787175,NaN,SOL
1000,NaN,NaN,NaN,831.9,787.5,17.5,2.219,805.8,806.2,1740700771,NaN,SOL
1001,NaN,NaN,NaN,837.4,758.7,-45.8,-5.490,788.3,788.5,1740614354,NaN,SOL
1002,NaN,NaN,NaN,849.0,768.4,9.5,1.154,832.6,834.2,1740527955,NaN,SOL
1003,NaN,NaN,NaN,974.6,800.0,-142.9,-14.801,822.4,823.0,1740441554,NaN,SOL

In [4]:
df_silver.columns

Index(['code', 'codein', 'name', 'high', 'low', 'varBid', 'pctChange', 'bid',
       'ask', 'timestamp', 'create_date', 'moeda'],
      dtype='object')

In [5]:
df_silver.drop(columns=['code', 'codein','name','create_date'], inplace=True)

In [6]:
colunas_renomeadas = {
    'high': 'preco_maximo',
    'low': 'preco_minimo',
    'varBid': 'variacao_bid',
    'pctChange': 'variacao_pct',
    'bid': 'preco_compra',
    'ask': 'preco_venda',
    'timestamp': 'data_hora',
    'moeda': 'moeda'
}

In [7]:
df_silver.rename(columns=colunas_renomeadas, inplace=True)

In [8]:
df_silver['moeda'] = df_silver['moeda'] + '-BRL'

In [9]:
df_silver.head(5)

,preco_maximo,preco_minimo,variacao_bid,variacao_pct,preco_compra,preco_venda,data_hora,moeda
0,599000.0,591450.0,6263.0,1.057,598840.0,598841.0,1749402194,BTC-BRL
1,595999.0,584270.0,7445.0,1.269,594061.0,594062.0,1749340785,BTC-BRL
2,593914.0,568693.0,15804.0,2.769,586639.0,586640.0,1749254379,BTC-BRL
3,596717.0,563594.0,-22105.0,-3.728,570835.0,570836.0,1749167992,BTC-BRL
4,600910.0,589040.0,-4640.0,-0.777,592871.0,592872.0,1749081575,BTC-BRL

In [10]:
df_silver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   preco_maximo  1004 non-null   float64
 1   preco_minimo  1004 non-null   float64
 2   variacao_bid  1004 non-null   float64
 3   variacao_pct  1004 non-null   float64
 4   preco_compra  1004 non-null   float64
 5   preco_venda   1004 non-null   float64
 6   data_hora     1004 non-null   int64
 7   moeda         1004 non-null   object
dtypes: float64(6), int64(1), object(1)
memory usage: 62.9+ KB

In [11]:
df_silver['data_hora'] = pd.to_datetime(df_silver['data_hora'], unit='s')
df_silver['data_hora'] = df_silver['data_hora'].dt.strftime('%d/%m/%Y %H:%M')

In [13]:
df_silver.head(5)

,preco_maximo,preco_minimo,variacao_bid,variacao_pct,preco_compra,preco_venda,data_hora,moeda
0,599000.0,591450.0,6263.0,1.057,598840.0,598841.0,08/06/2025 17:03,BTC-BRL
1,595999.0,584270.0,7445.0,1.269,594061.0,594062.0,07/06/2025 23:59,BTC-BRL
2,593914.0,568693.0,15804.0,2.769,586639.0,586640.0,06/06/2025 23:59,BTC-BRL
3,596717.0,563594.0,-22105.0,-3.728,570835.0,570836.0,05/06/2025 23:59,BTC-BRL
4,600910.0,589040.0,-4640.0,-0.777,592871.0,592872.0,04/06/2025 23:59,BTC-BRL

In [24]:
df_silver.to_csv("3_silver/silver_cripto_180d.csv", index=False)