In [21]:
import pandas as pd

In [23]:
df_bronze = pd.read_csv(f"2_bronze/bronze_cripto_180d.csv")

In [25]:
df_bronze

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,create_date,moeda
0,BTC,BRL,Bitcoin/Real Brasileiro,599000.0,591450.0,6263.0,1.057,598840.0,598841.0,1749402194,2025-06-08 14:03:14,BTC
1,NaN,NaN,NaN,595999.0,584270.0,7445.0,1.269,594061.0,594062.0,1749340785,NaN,BTC
2,NaN,NaN,NaN,593914.0,568693.0,15804.0,2.769,586639.0,586640.0,1749254379,NaN,BTC
3,NaN,NaN,NaN,596717.0,563594.0,-22105.0,-3.728,570835.0,570836.0,1749167992,NaN,BTC
4,NaN,NaN,NaN,600910.0,589040.0,-4640.0,-0.777,592871.0,592872.0,1749081575,NaN,BTC
...,...,...,...,...,...,...,...,...,...,...,...,...
999,NaN,NaN,NaN,880.3,738.6,72.1,8.949,877.3,877.6,1740787175,NaN,SOL
1000,NaN,NaN,NaN,831.9,787.5,17.5,2.219,805.8,806.2,1740700771,NaN,SOL
1001,NaN,NaN,NaN,837.4,758.7,-45.8,-5.490,788.3,788.5,1740614354,NaN,SOL
1002,NaN,NaN,NaN,849.0,768.4,9.5,1.154,832.6,834.2,1740527955,NaN,SOL
1003,NaN,NaN,NaN,974.6,800.0,-142.9,-14.801,822.4,823.0,1740441554,NaN,SOL

In [27]:
df_bronze.columns

Index(['code', 'codein', 'name', 'high', 'low', 'varBid', 'pctChange', 'bid',
       'ask', 'timestamp', 'create_date', 'moeda'],
      dtype='object')

In [5]:
colunas_renomeadas = {
    'name': 'nome_moeda',
    'high': 'preco_maximo',
    'low': 'preco_minimo',
    'varBid': 'variacao_bid',
    'pctChange': 'variacao_pct',
    'bid': 'preco_compra',
    'ask': 'preco_venda',
    'timestamp': 'data_hora',
    'create_date': 'data_criacao',
    'moeda': 'moeda'
}

In [6]:
df_bronze.rename(columns=colunas_renomeadas, inplace=True)

In [7]:
df_bronze.head(5)

,code,codein,nome_moeda,preco_maximo,preco_minimo,variacao_bid,variacao_pct,preco_compra,preco_venda,data_hora,data_criacao,moeda
0,BTC,BRL,Bitcoin/Real Brasileiro,599000.0,591450.0,6263.0,1.057,598840.0,598841.0,1749402194,2025-06-08 14:03:14,BTC
1,NaN,NaN,NaN,595999.0,584270.0,7445.0,1.269,594061.0,594062.0,1749340785,NaN,BTC
2,NaN,NaN,NaN,593914.0,568693.0,15804.0,2.769,586639.0,586640.0,1749254379,NaN,BTC
3,NaN,NaN,NaN,596717.0,563594.0,-22105.0,-3.728,570835.0,570836.0,1749167992,NaN,BTC
4,NaN,NaN,NaN,600910.0,589040.0,-4640.0,-0.777,592871.0,592872.0,1749081575,NaN,BTC

In [9]:
df_bronze.drop(columns=['code', 'codein','nome_moeda'], inplace=True)

In [11]:
df_bronze.head(5)

,preco_maximo,preco_minimo,variacao_bid,variacao_pct,preco_compra,preco_venda,data_hora,data_criacao,moeda
0,599000.0,591450.0,6263.0,1.057,598840.0,598841.0,1749402194,2025-06-08 14:03:14,BTC
1,595999.0,584270.0,7445.0,1.269,594061.0,594062.0,1749340785,NaN,BTC
2,593914.0,568693.0,15804.0,2.769,586639.0,586640.0,1749254379,NaN,BTC
3,596717.0,563594.0,-22105.0,-3.728,570835.0,570836.0,1749167992,NaN,BTC
4,600910.0,589040.0,-4640.0,-0.777,592871.0,592872.0,1749081575,NaN,BTC

In [13]:
df_bronze['moeda'] = df_bronze['moeda'] + '-BRL'

In [15]:
df_bronze.head(5)

,preco_maximo,preco_minimo,variacao_bid,variacao_pct,preco_compra,preco_venda,data_hora,data_criacao,moeda
0,599000.0,591450.0,6263.0,1.057,598840.0,598841.0,1749402194,2025-06-08 14:03:14,BTC-BRL
1,595999.0,584270.0,7445.0,1.269,594061.0,594062.0,1749340785,NaN,BTC-BRL
2,593914.0,568693.0,15804.0,2.769,586639.0,586640.0,1749254379,NaN,BTC-BRL
3,596717.0,563594.0,-22105.0,-3.728,570835.0,570836.0,1749167992,NaN,BTC-BRL
4,600910.0,589040.0,-4640.0,-0.777,592871.0,592872.0,1749081575,NaN,BTC-BRL

In [17]:
valor_data_criacao = df_bronze['data_criacao'].iloc[0]
df_bronze['data_criacao'] = valor_data_criacao

In [19]:
df_bronze.head(5)

,preco_maximo,preco_minimo,variacao_bid,variacao_pct,preco_compra,preco_venda,data_hora,data_criacao,moeda
0,599000.0,591450.0,6263.0,1.057,598840.0,598841.0,1749402194,2025-06-08 14:03:14,BTC-BRL
1,595999.0,584270.0,7445.0,1.269,594061.0,594062.0,1749340785,2025-06-08 14:03:14,BTC-BRL
2,593914.0,568693.0,15804.0,2.769,586639.0,586640.0,1749254379,2025-06-08 14:03:14,BTC-BRL
3,596717.0,563594.0,-22105.0,-3.728,570835.0,570836.0,1749167992,2025-06-08 14:03:14,BTC-BRL
4,600910.0,589040.0,-4640.0,-0.777,592871.0,592872.0,1749081575,2025-06-08 14:03:14,BTC-BRL